html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background: hsl(210, 36%, 96%);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    
}
.accordion .title{
    font-family: 'Great Vibes','cursive';
    color: #c59d5f;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.accordion{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 900px;
    margin: 10rem auto;
}
.accordion-item{
    width: 800px;
    background: white;
    color:hsl(209, 61%, 16%);
    margin: 1rem 0;
    letter-spacing: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.accordion-item-header{
    padding: 2.5rem 5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    position: relative;
}
.accordion-item-header::after{
     content: "\229E";
     color: #c59d5f;
     font-size: 2rem;
     font-weight: 800;
     position: absolute;
     right: 2rem;
     display: inline-block;
     -webkit-transition:  .5s;
     transition:  .5s;
}
.accordion-item-header:hover::after{
    display: inline-block;
    -webkit-transform-origin: center ;
    transform-origin: center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion-item-header.active::after{
    content: "\229F";
    animation: rotation 2s alternate ;
}
@keyframes rotation{
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(90deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }

.accordion-item-body{
    padding: 2rem;
    font-size: 1.2rem;
    color: hsl(210, 22%, 49%);
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: left;
    line-height:1.6rem;
    display: none;
    }
.accordion-item-header.active + .accordion-item-body{
    display: block;
    }

.accordion-item-body-content{
    padding-top: 1.5rem;
    border-top:1px solid rgba(0, 0, 0, 0.2);
}
